@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
* {
  font-family: 'Poppins', cursive;
}

@media screen and (max-width: 574px) {
  .greetings { display: block; font-size: 4rem; font-weight: 800; text-align: center; }
  .description { font-size: 2rem; }
  .button a { font-size: 1rem; }
}
